In [28]:
import pandas as pd
import numpy as np
import string

In [96]:
df = pd.DataFrame({"word": pd.read_fwf('raw_words.txt')["AA"].tolist()})
df.dropna(subset=['word'], inplace=True)
df["word"] = df["word"].astype(str)

In [97]:
score_df = pd.DataFrame(pd.read_excel('scrabble_scoring.xlsx'))

In [98]:
#creating alt columns for quicker lookup
df["length"] = df["word"].str.len()

In [99]:
#render time ~ 15-20 mins

# counting each letter per word
letter_counts = []
scores = []
for i in range(len(df)):
    word = df["word"].iloc[i]
#     letters = {char : 0 for char in string.ascii_uppercase}
    letters = [0] * 26
    score = 0
    for char in word:
        score += score_df[score_df["Letter"] == char]["Score"].iloc[0]
        letters[ord(char.upper()) - ord("A")] += 1
    letter_counts.append(letters)
    scores.append(score)
    

# adding the letter counts as columns within dataframe
formatted_counts = list(zip(*letter_counts))
for char in string.ascii_uppercase:
    df[char] = list(formatted_counts[ord(char) - ord("A")])

df["Score"] = scores

df

,word,length,A,B,C,D,E,F,G,H,...,R,S,T,U,V,W,X,Y,Z,Score
0,AAH,3,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,6
1,AAHED,5,2,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,9
2,AAHING,6,2,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,10
3,AAHS,4,2,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,7
4,AAL,3,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279490,ZYTHUMS,7,0,0,0,0,0,0,0,1,...,0,1,1,1,0,0,0,1,1,24
279491,ZYZZYVA,7,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2,3,43
279492,ZYZZYVAS,8,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,2,3,44
279493,ZZZ,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,30
279494,ZZZS,4,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,3,31

In [101]:
df.to_excel('data.xlsx', sheet_name="words")